body{
    background-color: #f0eff4;
}
.title{
 text-align: center;
 font-size: 40px;
 color: #3d2645;
 margin-bottom: 2rem;
 text-decoration: underline #e26d5c;
 font-family: 'Playfair Display', serif;
 margin-top: 50px;
}
.section-center{
    width: 90vw;
    margin: 0 auto;
 display: grid;
 gap: 3rem 2rem;
 max-width: 1170px;
justify-items: center;
}
.btn-container{
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}
.img{
    height: 150px;
    width: 200px;    
    border-radius: 10px;
    border: 2px solid #7d1128;
}
.menu-item{
    display: grid;
    gap: 1rem 2rem;
    max-width: 25rem;
}
.filter-btn{
background-color: #fcb9b2;
  border-color: #c32f27;
  color: #3d2645;
  text-transform: capitalize;
   margin: 0 0.5rem ; 
   border-radius: 10px;
 transition: var(--transition);
}
.filter-btn:hover{
  background: #da5552;
  color: white;
}
.item header{
display: flex;
justify-content: space-between;
border-bottom: 0.5px dotted #da5552;
color: #c32f27;
font-family: 'Dancing Script', cursive;
}
.item h4{
    margin-bottom: 0.5;
}
.price{
    color: #c32f27;
}
.description{
    margin-bottom: 0px;
    font-size: 15px;
}
@media screen and (min-width: 1200px) {
    .section-center {
      width: 95vw;
      grid-template-columns: 1fr 1fr;
    }
    .img {
      height: 150px;
    }
  }
  @media screen and (min-width: 768px) {
    .menu-item {
      grid-template-columns: 225px 1fr;
      gap: 0 1.25rem;
      max-width: 40rem;
    }
    .img {
      height: 175px;
    }
  }


































































































































